[submodule "RADIO-ViPE"]
	path = third_party/RADIO-ViPE
	url = https://github.com/be2rlab/RADIO-ViPE.git
[submodule "third_party/sam3"]
	path = third_party/sam3
	url = https://github.com/facebookresearch/sam3.git
